---
import Main from "../../../components/Main.astro";
import Sidebar from "../../../components/DaySidebar.astro";
import Layout from "../../../layouts/Layout.astro";

export async function getStaticPaths() {
  const notes = await Astro.glob("../../../notes/**/*.mdx");
  return notes.map((note) => ({
    params: { day: `${note.frontmatter.day}`, block: `${note.frontmatter.block}` },
    props: { note },
    
  }));
}

const navItems = await Astro.glob("../../../notes/*.mdx");
const subNavItems = await Astro.glob("../../../notes/**/*.mdx");
const { Content, frontmatter } = Astro.props.note;
navItems.sort((a, b) => a.frontmatter.order - b.frontmatter.order);

---

<Layout title={frontmatter.title}>
  <Sidebar slot="sidebar" logoText="Learn the Web Notes" navItems={navItems} subNavItems={subNavItems} />
  <Main title={frontmatter.title}>
    <Content />
  </Main>
</Layout>

<style>
  main{
    max-width: 1080px;
  }
</style>


<script is:inline>
  const codes = document.querySelectorAll('pre.astro-code');
  const button = document.createElement('button');
 
  button.innerText = 'Copy';
  button.classList.add('copy-button');
  

  codes.forEach(code => {
    code.appendChild(button.cloneNode(true));
    const buttons = code.querySelectorAll('button');
    buttons.forEach(button => {
      button.addEventListener('click', (e) => {
        const code = e.target.parentNode.querySelector('code');
        const text = code.innerText;
        navigator.clipboard.writeText(text);
        console.log(text);
      });
    });
    
  });
 


 


 

</script>